/* CSS Variables for Theme Colors */
:root {
    --primary-color: #35424a;
    --secondary-color: #eaeaea;
    --background-color: #f4f4f4;
    --text-color: #333;
    --hover-color: #45a049;
}

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Container for header and main sections */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

/* Header styles */
header {
    background: var(--primary-color);
    color: white;
    padding: 1.5rem 0;
}

.logo {
    width: 150px;
    height: auto;
}

.ambolt {
    max-height: 60px;
    max-width: 80px;
}

.ambolt img {
    max-height: 60px;
    max-width: 80px;
}

/* Navigation styles */
nav {
    margin-top: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Right-align the navigation items */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--hover-color);
}

/* Main section styles */
main {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Service container styles */
.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin: 2rem 0;
}

.service {
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.service:hover {
    transform: scale(1.05); /* Shrink effect on hover */
}

/* Contact form styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input,
form textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
    border-color: var(--primary-color); /* Change border color on focus */
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--hover-color); /* Change background color on hover */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background: var(--primary-color);
    color: white;
}